<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package
        Name="Snap.Hutao.Rev"
        Manufacturer="Millennium Science Technology R-D Inst"
        Version="1.18.5.10"
        UpgradeCode="F3E35FA2-BF34-42F6-9E31-8AF51A5BA6C9"
        Language="2052"
        Scope="perMachine">

        <Property Id="ApplicationFolderName" Value="Snap.Hutao.Rev" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

        <MajorUpgrade
            AllowSameVersionUpgrades="yes"
            DowngradeErrorMessage="!(loc.DowngradeError)" />
        <MediaTemplate EmbedCab="yes" />

        <ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLFOLDER" />

        <Feature Id="MainApp" Title="!(loc.MainAppTitle)" Level="1">
            <ComponentGroupRef Id="MainAppComponents" />
        </Feature>

        <Feature Id="DesktopShortcutFeature" Title="!(loc.DesktopShortcutTitle)" Level="1">
            <ComponentRef Id="DesktopShortcut" />
        </Feature>

        <Feature Id="StartMenuShortcutFeature" Title="!(loc.StartMenuShortcutTitle)" Level="1">
            <ComponentRef Id="ApplicationShortcut" />
        </Feature>
    </Package>

    <!-- 安装目录 -->
    <Fragment>
        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="Snap.Hutao.Rev" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="Snap Hutao Rev" />
        </StandardDirectory>

        <StandardDirectory Id="DesktopFolder" />
    </Fragment>

    <!-- 桌面快捷方式 -->
    <Fragment>
        <Component Id="DesktopShortcut" Directory="DesktopFolder" Guid="*">

            <Shortcut
                Id="DesktopShortcut_Normal"
                Name="Snap Hutao Rev"
                Description="Snap Hutao Rev Client"
                Target="[INSTALLFOLDER]Snap.Hutao.exe"
                WorkingDirectory="INSTALLFOLDER" />

            <!-- KeyPath 必须是 HKCU，因为快捷方式安装到用户目录 -->
            <RegistryValue
                Root="HKCU"
                Key="Software\Snap.Hutao.Rev"
                Name="DesktopShortcutInstalled"
                Type="integer"
                Value="1"
                KeyPath="yes" />
        </Component>
    </Fragment>

    <!-- 开始菜单快捷方式 -->
    <Fragment>
        <Component Id="ApplicationShortcut" Directory="ApplicationProgramsFolder" Guid="*">

            <Shortcut
                Id="ApplicationStartMenuShortcut"
                Name="Snap Hutao Rev"
                Description="Snap Hutao Rev Client"
                Target="[INSTALLFOLDER]Snap.Hutao.exe"
                WorkingDirectory="INSTALLFOLDER" />

            <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall" />

            <!-- KeyPath 依然必须改为 HKCU -->
            <RegistryValue
                Root="HKCU"
                Key="Software\Snap.Hutao.Rev"
                Name="StartMenuShortcutInstalled"
                Type="integer"
                Value="1"
                KeyPath="yes" />
        </Component>
    </Fragment>
</Wix>
